@keyframes movePattern {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.illustration { 
  --s: 50px; /* control the size */
  
  --_g: conic-gradient(at 50% 25%,#0000 75%,#61DAFB 0);
  background:
    var(--_g),var(--_g) var(--s) var(--s),
    var(--_g) calc(2*var(--s)) calc(2*var(--s)),
    var(--_g) calc(3*var(--s)) calc(3*var(--s)),
    repeating-linear-gradient(135deg,#000 0 0%,transparent 0 25%);
  background-size: calc(4*var(--s)) calc(4*var(--s));
  /* animation: movePattern 5s linear infinite; */
}
