ENV=development
PORT=4500
SALT=0
MONGODB_URI=mongouri.com
JWT_SECRET=your-jwt-secret
JWT_EXPIRATION_DAYS=10000
JWT_EXPIRATION_HOURS=10000
JWT_EXPIRATION_MINUTES=10000
JWT_EXPIRATION_SECONDS=10000
EMAIL_USER=email@handle.com
EMAIL_FROM=email@handle.com
EMAIL_PASS=thepassword
EMAIL_SERVICE=e.g. gmail
EMAIL_HOST=e.g. smtp.gmail.com
